<!DOCTYPE html>
<html lang="en" ng-app="littleSketcher">
<head>
    <meta charset="UTF-8">
    <title>Little Sketcher</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/4.3.2/css/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/4.3.2/css/foundation.min.css">
    <script type="text/ng-template" id="tpl/index.html">
        <h1>Hello index</h1>

        <a href="#drawings/new">Create Drawing</a>
        <a href="#drawings">List Drawings</a>
    </script>

    <script type="text/ng-template" id="tpl/drawings.html">
        <div class="row">
            <h1>Drawings</h1>
            <br />
            <a href="#">Home</a>
            <br />
            <button ng-click="addDrawing()">Add Drawing</button>
            <ul class="drawings">
                <li class="note" ng-show="drawings.length === 0">No drawing yet!</li>
                <li class="drawing" ng-repeat="drawing in drawings">
                <span>{{ drawing.name }}</span>
                    <button ng-click="remove(drawing)">Remove</button>
                </li>
            </ul>
        </div>
    </script>

    <script type="text/ng-template" id="tpl/drawings_create.html">
        <div class="row">
          <h1 toggle-input="drawing.name"> {{ drawing.name }} </h1>
          <a href="#">Home</a>
        </div>
    </script>
</head>
<body>
    <ng-view></ng-view>
    
    <script src="support/sinon.js"></script>
    <script src="support/fake-server.js"></script>

    <!-- general libraries -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

    <!-- angular + modules  -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.0/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.0/angular-route.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.0/angular-resource.min.js"></script>

    <script src="js/main.js"></script>

</body>
</html>
